<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<ul class="list-group">
					<li class="list-group-item active" th:text="${proveedor.nombre}"></li>
					<li class="list-group-item" th:text="${proveedor.direccion}"></li>
					<li class="list-group-item" th:text="${proveedor.telefono}"></li>
					<li class="list-group-item" th:text="${proveedor.email}"></li>
				</ul>

			</div>
		</div>
		
		<a class="btn btn-danger btn-xs float-right" th:href="@{'/detalle-proveedor/' + ${proveedor.id}(format=pdf)}">PDF</a>
		<a class="btn btn-success btn-xs float-right" th:href="@{'/detalle-proveedor/' + ${proveedor.id}(format=xlsx)}">EXCEL</a>
		
	</div>
	
	

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>